__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.env
*.venv
.DS_Store
Numbers/results/*.png
Iris/results/default_training_set/*.png
Iris/results/last_30_training_set/*.png
Iris/results/seperability_histograms/*.png
.vscode/settings.json